<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unsubscribe</title>
</head>
<body>
<div>
    <h1>You [<%= email %>] have been unsubscribed</h1>
    <div>
        <p>Your email has been removed from the mailing list. We're sorry to see you go!&nbsp;</p>
        <p>If you did this in error, you can <a href="<%= scheme %>://<%= hostname %>/api/backend/resubscribe/<%= data %>?email=<%= email %>">re-subscribe here.</a></p>
    </div>
</div>
</body>
</html>
